* {
    box-sizing: border-box;
    padding: 0;
}


ul {
    list-style-type: none;
    background-color: whitesmoke;
    overflow: hidden;
   
    
}

li a:hover {
    background-color: rgba(192, 101, 101, 0.294);
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display:block;
    color: rgb(37, 26, 26);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* Contatct page */

.formBox{
    position: absolute;
    left: 35%;
    top: 250px;
}

input{
    height: 44px;
    width: 380px;
}

input[placeholder] {
    text-align: center;
}

.form{
    display: flex;
    flex-flow: column;
    justify-content:center;
}

.picsflex{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.picsrow{
    width: 200px;
    height: 200px;
    border: solid rgb(11, 10, 15) 1px;
    background-color:whitesmoke;
}